body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1f;
}

img {
    width: 100%;
}

.img {
    width: 100px;
    filter: brightness(0);
    transition: .5s;
}

.card-container {
    display: flex;
    gap: 32px;
    
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.img:hover {
    filter: brightness(1);
    transform: translateZ(350px);
}

.img:hover + * {
    filter: brightness(0.6);
    transform: translateZ(300px) rotateY(25deg);
}

.img:hover + * + * {
    filter: brightness(0.3);
    transform: translateZ(200px) rotateY(35deg);
}

.img:has(+ *:hover) {
    filter: brightness(0.6);
    transform: translateZ(300px) rotateY(-25deg);
}

.img:has(+ * + *:hover) {
    filter: brightness(0.3);
    transform: translateZ(200px) rotateY(-35deg);
}